# Idea Specific
.vscode
.idea
.idea/*
!.idea/runConfigurations

# Random Crap
.DS_Store
/junk
/_junk
/nginstreamer
/example

# External Libraries
**/node_modules

# Local Config Files
.env
**/.env

.versions

# Compiled files
**/dist
**/yarn.lock
**/yarn-error.log

#TODO: REMOVE
.travis.yml
/modules

# Test Report Files
tests
reports
/__etc