# Random Crap
.DS_Store

# Idea Specific
.vscode
.idea/*
!.idea/runConfigurations

# External Libraries
**/node_modules

# Local Config Files
.env
**/.env

.versions

# Compiled files
**/dist
yarn.lock
yarn-error.log

# Test Report Files
reports
logs